@media(max-width: 320px)
{
 .grid{
       display: grid;
       grid-template-columns: 1fr 60px;
       grid-template-rows: 110px 435px 110px;
       grid-template-areas: 
        "hd hd hd hd hd hd"
        "CT CT CT CT sd sd"
        "ft ft ft ft ft ft";
       font-size: 5px; 
    }

    body{
        margin:0px;
        padding:0px;
    }

    .content{
        grid-area: CT;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,20px) repeat(17,1fr); 
        grid-gap: 2px;
        padding: 10px;
    }

    .header{
        grid-area: hd;
        display: flex;
        flex-direction: row;
    }

    .sidebar{
        grid-area: sd;
        display: flex;
        width: 60px;
        flex-direction: column;
    }

    #sidebar1{
        background-color: silver;
    }

    .box1 {
        width:  80px;
        height: 110px;
        /*border: 1px solid grey;*/
    }

    .box2{
        width:  160px;
        height: 110px;
        /*border: 1px solid grey;*/
    }

    .footer{
        grid-area: ft;
    }
}

/* display>width 320px ********************************************************************************** */

@media(min-width: 600px) and (max-width: 900px)
{
 .grid{
       display: grid;
       grid-template-columns: 640px;
       grid-template-rows: 220px 870px 220px;
       grid-template-areas: 
        "hd hd hd hd hd hd"
        "CT CT CT CT sd sd"
        "ft ft ft ft ft ft";
       /*border:1px solid crimson; Rahmen wird erst durch solid sichtbar */
   }

body{
    margin:0px;
    padding:0px;
}

.content{
    grid-area: CT;
    display: grid;
    grid-template-columns: repeat(2,320px);
    grid-template-rows: repeat(3,280px);
    grid-gap: 10px;
}

.header{
    grid-area: hd;
}

.sidebar{
    grid-area: sd;
}

.flexbox{
    display: flex;
    flex-direction: row;
}

.flexbox1{
    display: flex;
    flex-direction: column;
}

.box1 {
    width:  160px;
    height: 220px;
    /*border: 1px solid grey;*/
}

.box2{
    width:  320px;
    height: 220px;
    /*border: 1px solid grey;*/
}

.footer{
    grid-area: ft;
}
}

/*größe ab 901 px ************************************************************************ */ 

@media(min-width: 901px)
{
 .grid{
       display: grid;
       grid-template-columns: 960px;
       grid-template-rows: 330px 1305px 330px;
       grid-template-areas: 
        "hd hd hd hd hd hd"
        "CT CT CT CT sd sd"
        "ft ft ft ft ft ft";
       /*border:1px solid crimson; /*Rahmen wird erst durch solid sichtbar */
   }

   .header{
    grid-area: hd;
}

.content{
    grid-area: CT;
    display: grid;
    grid-template-columns: repeat(2,480px);
    grid-template-rows: repeat(3,420px);
    grid-gap: 15px;
}

.sidebar{
    grid-area: sd;
}

body{
    margin:0px;
    padding:0px;
}

.flexbox{
    display: flex;
    flex-direction: row;
}

.flexbox1{
    display: flex;
    flex-direction: column;
}

.box1 {
    width:  240px;
    height: 330px;
    /*border: 1px solid grey;*/
}

.box2{
    width:  480px;
    height: 330px;
    /*border: 1px solid grey;*/
}

.footer{
    grid-area: ft;
}

}